@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url("components/container.css");
@import url("components/container1.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("responsive/css");
@import url("iframe/css");


body {
font-family: 'Source Sans Pro', sans-serif;
}

h1 {
margin-top: 50px;
text-align: left;
font-family: 'Mr Dafoe', cursive;
font-size: 50px;
animation: apparition 0.8s ease-out;
}

@keyframes apparition {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

h2 {
font-family: 'Roboto', sans-serif;
position: center;
}

h3 {
font-family: 'Source Sans Pro', sans-serif;
color: black;
font-weight: 1px;
font-size: 18px;
}

a {
color: white;
}